Port:8000
Environment=development
BasePath="/clean_web"
SiteUrl="http://localhost:8000"






BlogDBUsername=root
BlogDBPassword=secret
BlogDBHost=database
BlogDBPort=5432
BlogDBName=blog




UserDBUsername=root
UserDBPassword=secret
UserDBHost=database
UserDBPort=5432
UserDBName=user